<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

<iisnode loggingEnabled="true"
             devErrorsEnabled="true"
             interceptor="--debug &quot;%ProgramFiles(x86)%\iisnode\interceptor.js&quot;"
             xdt:Transform="SetAttributes" />
             
</configuration>

